{% extends 'DistribuidoraApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Inicio 
{% endblock %}

{% block contenidoPagina %}
<div class="min-vh-100 d-flex flex-colum pb-3">
    <div class="container">

        <!-- Section-->
        <div class="pt-3">
            <form class="d-flex d-md-inlne-block form-inline justify-content-end" method="POST" action="">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small text-center" name="buscador" placeholder="buscar..." value="{{ request.POST.buscador }}">
                    <div class="input-group-append">
                        <button class="btn btn-danger mx-1" type="submit"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                </button>
                    </div>
                </div>
            </form>
        </div>

        <section class="py-2">
            <div class="container px-4 px-lg-5 mt-2 animate__animated animate__fadeIn animate__delay-0.3s">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% if entity %} {% for producto in entity %}
                    <div class="col my-3">
                        <div class="card h-100 text-center py-3">
                            <!-- Product image-->
                            {% if producto.imagen %}
                            <img class="mx-auto d-block img-fluid" src="{{ producto.imagen.url }}" alt="producto" width="450px" /> {% else %}
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="sinImagen" /> {% endif %}
                            <!-- Product details-->
                            {% load humanize %}
                            <div class="card-body p-3">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ producto.nombre }}</h5>
                                    <!-- Product price-->
                                    $ {{ producto.precio | intcomma }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-2 pt-2 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-dark mt-auto" href="{% url 'detalleProducto' producto.id %}">Ver detalle</a> 
                                    {% if user.is_authenticated%}
                                    <a href="{% url 'addcart' producto.id %}" class="btn bg-primary text-white mt-2" type="button">
                                        <i class="bi-cart-fill me-1"></i> Agregar al Carrito
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <div class="text-center text-warning">
                        <h3> No se encontraron Productos!!</h3>
                    </div>
                    {% endif %}
                </div>

                <div>
                    {% include 'DistribuidoraApp/paginator.html' %}
                </div>
            </div>

        </section>
    </div>
</div>
{% endblock %}