{% extends 'DistribuidoraApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Nosotros como distribuidora
{% endblock %}

{% block contenidoPagina %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">Nosotros</h3>
        <div class="row py-auto" style="justify-content: center;">
            <div class="col-lg-8">
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque ducimus delectus laborum soluta tempore corrupti molestiae labore. Possimus vero vitae illo praesentium eos ipsum excepturi officia nostrum? Voluptate, maxime?
                    Voluptates consequatur possimus nisi voluptate iure itaque voluptatem est eveniet quos. Repudiandae vitae necessitatibus, laborum error quae suscipit deserunt eos eveniet velit, doloribus quam! Illum quasi distinctio repellat ipsum itaque!
                    Pariatur illum distinctio sit voluptates recusandae velit, magnam obcaecati quibusdam cum numquam sapiente voluptate dolorum unde. Accusamus porro minus facere laboriosam dignissimos, quaerat dolores doloremque praesentium, fugiat sit, veniam aliquid.
                    Ut necessitatibus deserunt impedit, quisquam itaque ab sapiente? Corporis repellat non veniam ipsum aliquam. Placeat corrupti nesciunt sunt et reprehenderit iure odit. Animi quas et ullam expedita saepe nobis aperiam!
                    Error nemo dicta quo exercitationem deserunt ducimus, corrupti nobis fugit amet expedita quas iusto! Eius sapiente, provident quibusdam eum incidunt suscipit maxime delectus quae quam perspiciatis rerum minus impedit ex.
                </p>
                <p class="animate__animated animate__backInRight animate__delay-0.3s text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum rem neque inventore perspiciatis cumque iusto nesciunt, dolore voluptate dolorem distinctio optio est saepe, exercitationem reprehenderit. Eveniet aliquam dolorum aliquid facilis.
                    Molestias, in. Voluptates molestiae quod, et quo nemo quos? Doloremque iure consectetur, eligendi quibusdam consequuntur culpa molestias laboriosam. Autem aperiam aut omnis iste quae excepturi nihil non dicta quis laudantium.
                </p>
            </div>

        </div>
        <div class="row animate__animated animate__bounceInUp animate__delay-1s" style="justify-content: center;">
            <p class="mb-1">Teléfono: +342 33124614 |+342 33124461</p>
        </div>
        <div class="row animate__animated animate__bounceInUp animate__delay-1s" style="justify-content: center;">
            <p> Santa Fe, Argentina</p>
        </div>
    </div>
</div>

{% endblock %}